PORT=
MONGO_URL=
CORS=
ACCESS_TOKEN_EXPIRY=
ACCESS_TOKEN_EXPIRY=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
HF_TOKEN=
GEMINI_API_KEY=
GOOGLE_AUTH_CLIENT_ID=
GOOGLE_AUTH_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
FRONTEND_URL=
EMAIL_HOST=
EMAIL_PASS=
EMAIL_USER=
EMAIL_FROM=
EMAIL_PORT=
